{% autoescape true %}

<div class="page-header">
  <h1>Who is signed up<br/><small>Check who has already secured a spot at the table</small></h1>
</div>

<div class="table-responsive">
	<table id="fetch_table" class="table">
		{% for e in eaters_points %}
			{% if fetcher != None and fetcher.key.id == e.key.id %}
				<tr class="success">
			{% else %}
				<tr>
			{% endif %}
			<td>{{ e.points }}</td>
			{% if not e.able_to_get %}
		 		<td class="no_can_get">
			{% else %}
				<td>
			{% endif %}
				{{ e.name }}
				{% if last_fetcher == e.key.id %}
					(Last)
				{% endif %}
				{% if e.extra != None %}
			 		(+{{ e.extra}})
				{% endif %}
				<br />
				{{ e.remark }}
			</td>
			<td><tiny>{{ e.last_fetch }}</tiny></td>
			<td><a class="remove" href="/de_register/{{ e.key.id() }}">x</a></td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endautoescape %}